
<nav class="navbar-fixed-top navbar-default navbar">
        <div class="row header">
          <div class="pull-right" style="font-size:13px; font-family:Verdana;color:#666666"><i class="fa fa-bank"></i> Points (200)&nbsp;&nbsp;&nbsp; <i class="fa fa-shopping-cart"></i> Shopping Cart&nbsp; <b style="font-size:10px;">(4) </b></div>
        </div>
      
              
        <div class="row menu">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            <img src="http://s2.postimg.org/fpyp99z45/RM2.jpg" style="margin-left:37px;height:45px;margin-right:20px">
              </div>
              
      <div class="container">
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div>
          </div>
        </div>
      </nav>
      <div class="container" style="margin-top:120px;">
        <div class="row">
          
          <ol class="breadcrumb"><li><a href="#">Apparel &amp; Accessories</a></li><li class="active">Handbags</li></ol>
        </div>
        <div class="row">

          <div class="col-md-3">
            <h4>Search <a id="show-search-menu" href="#" style="float:right;margin-right:20px ;font-size:13px"><span class="fa fa-chevron-down hidden-lg hidden-md"></span></a></h4>
            
      <div class="well hidden-xs hidden-sm" id="search-menu"> 
        
       <form class="form-inline">
        <div class="form-group" style="margin-top:6px;margin-bottom:6px;">
          <label for="exampleInputName2">Category:</label>
          <select class="form-control" style="width:90%;">
              <option>Handbags</option>
              <option>Facial Accesories</option>
            </select>
        </div>
        
         <div class="form-group" style="margin-top:6px;margin-bottom:6px;">
          <label for="exampleInputEmail2">Keywords:</label>
          <input style="width:90%" class="form-control" id="exampleInputEmail2" placeholder="Looking for...">
        </div>
        
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      
      </div>

            <div class="categories-menu row">
              <h4>Categories  <a id="show-categories-menu" href="#" style="float:right;margin-right:20px;font-size:13px"><span class="fa fa-chevron-down hidden-lg hidden-md"></span></a></h4>        
      
              <div id="categories-menu-content" class="hidden-xs hidden-sm">
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Apparel &amp; Accesories (29)
                  </div> 
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Electronics (142)
                  </div> 
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Home &amp; Garden (386)
                  </div> 
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Personal Care (10)
                  </div>
                <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Tools (14)
                  </div>
                 <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Office (44)
                  </div>
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Apparel &amp; Accesories (29)
                  </div> 
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Electronics (142)
                  </div> 
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Home &amp; Garden (386)
                  </div> 
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Personal Care (10)
                  </div>
                <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Tools (14)
                  </div>
                 <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Office (44)
                  </div>
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Apparel &amp; Accesories (29)
                  </div> 
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Electronics (142)
                  </div> 
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Home &amp; Garden (386)
                  </div> 
                  <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Personal Care (10)
                  </div>
                <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Tools (14)
                  </div>
                 <div class="col-md-12 col-sm-4  col-xs-12" style="border-bottom:1px solid #EFEFEF;padding-top:4px;padding-bottom:4px;">
                    Office (44)
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class=" col-sm-4 hidden-xs">
                <div class="btn-group sort-group">
                                          <button class="btn btn-default no-action">Sort by:</button>
                                          <button class="btn btn-default btn-sort active" type="Submit" name="SortBy" value="1"><i class="fa fa-sort-numeric-asc"></i></button>
                                          <button class="btn btn-default btn-sort " type="Submit" name="SortBy" value="2"><i class="fa fa-sort-numeric-desc"></i></button>
                                      </div>
              </div>
              
            
              <div class=" col-sm-4">
                <div class="btn-group sort-group pagination  top-pagination" style="margin-top:0px;margin-bottom:0px;">
              
              <button class="btn btn-default no-action disabled">«</button>
              
              <button class="btn btn-default btn-sort active" type="Submit" name="wp" value="1">1</button>
              
              <button class="btn btn-default btn-sort " type="Submit" name="wp" value="2">2</button>
              
              <button class="btn btn-default btn-sort " type="Submit" name="wp" value="3">3</button>
              
              <button class="btn btn-default btn-sort " type="Submit" name="wp" value="4">4</button>
              
              <button class="btn btn-default btn-sort" type="Submit" name="wp" value="2">»</button>
              
          </div>
              </div>
              <div class="col-sm-4  hidden-xs">
                <div class="input-group pull-right">
                      <div class="input-group-addon">Result per Page</div>
                      <select class="form-control" style="width:60px">
                          <option>10</option>
                          <option>20</option>
                          <option>30</option>
                          <option>40</option>
                          <option>50</option>
                      </select>
                  </div>
              </div>
            </div>
          <div class="row product-list">
    
              <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11591347_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              TH Monogram Coated Canvas Cross Body
                          </p>
                          <p class="text-muted">11591347</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11591347_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              TH Monogram Coated Canvas Cross Body
                          </p>
                          <p class="text-muted">11591347</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
            <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11584123_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              Saffiano Leather Crossbody
                          </p>
                          <p class="text-muted">11584123</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11591347_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              TH Monogram Coated Canvas Cross Body
                          </p>
                          <p class="text-muted">11591347</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11591347_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              TH Monogram Coated Canvas Cross Body
                          </p>
                          <p class="text-muted">11591347</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11591347_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              TH Monogram Coated Canvas Cross Body
                          </p>
                          <p class="text-muted">11591347</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
            <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11584123_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              Saffiano Leather Crossbody
                          </p>
                          <p class="text-muted">11584123</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11591347_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              TH Monogram Coated Canvas Cross Body
                          </p>
                          <p class="text-muted">11591347</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11591347_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              TH Monogram Coated Canvas Cross Body
                          </p>
                          <p class="text-muted">11591347</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11591347_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              TH Monogram Coated Canvas Cross Body
                          </p>
                          <p class="text-muted">11591347</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
            <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11584123_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              Saffiano Leather Crossbody
                          </p>
                          <p class="text-muted">11584123</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="product">
                      <div class="product-info">
                          <button type="submit" name="imageSubmit" value="btn_was_clicked"><img src="https://ure.360recognition.com/direct/user/product/11591347_70.jpg" class="img-responsive tb-center tb-maxheight-115" alt="..."></button>
                          <p class="primary-font">
                              TH Monogram Coated Canvas Cross Body
                          </p>
                          <p class="text-muted">11591347</p>
                          
                      </div>
                      <div class="btn-group product-action">
                      
                       <button type="submit" name="Add to cart" class="btn btn-primary cart-btn"><i class="fa fa-shopping-cart">
                      </i>
                      
                      Place Order
                      
                      </button>
                      </div>
                  </div>
              </div>

          </div>
          </div>
          
        </div>
        
      </div>
      <style>

.menu
{
  background-color:#274A77;
  margin-right:-22px;
  height:50px;
  padding-top:3px
}
.header
{
  margin-left:0px;
  margin-right:20px;
  padding-top:10px;
  padding-bottom:10px;
}

.navbar
{
  display:block;

  
}

.product-list {
    margin-top: 25px;
}

 .product-list .product {
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    min-height: 300px;
}
  .product-list .product .product-info {
    min-height: 220px;
}
.product-info button
{
  border:0;
  background:none;
}
.navbar-nav>li>a 
{
  color:#fff;
  margin-top:-2px;
  margin-bottom:0px;
  padding-bottom:14px;
  padding-top:14px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
  background-color:#FFFFFF;
  color:#274A77;
  font-weight:bold;
}
.navbar-default .navbar-nav>li>a
{
  color:#FFF;
}
.navbar-toggle, .navbar-toggle:hover
{
  margin-right:35px;

  
}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover
{
    background:none;
  border:0px;
}
.navbar-default .navbar-toggle .icon-bar
{
  background-color:#FFF;
}
.navbar-default .navbar-toggle .icon-bar:hover
{
 background-color:#CCC;
  border-bottom:1px solid #FFF;
}
@media(max-width:991px){
.categories-menu
{
  border-top:solid 1px #EEE;
  margin-bottom:10px;
    padding:10px;
    padding-right:14px;
    padding-top:5px;
    padding-bottom:5px;
}
} </style>